examples/example-flow.json
[
    {
        "id": "example-flow",
        "type": "tab",
        "label": "Rituals Example",
        "disabled": false,
        "info": "Example flows for Rituals Perfume Genie control"
    },
    {
        "id": "startup-inject",
        "type": "inject",
        "z": "example-flow",
        "name": "Authenticate on Startup",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "x": 150,
        "y": 80,
        "wires": [["auth-node"]]
    },
    {
        "id": "auth-node",
        "type": "rituals-auth",
        "z": "example-flow",
        "name": "Authenticate",
        "config": "rituals-config-1",
        "x": 350,
        "y": 80,
        "wires": [["auth-debug"]]
    },
    {
        "id": "auth-debug",
        "type": "debug",
        "z": "example-flow",
        "name": "Auth Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 550,
        "y": 80,
        "wires": []
    },
    {
        "id": "power-on-inject",
        "type": "inject",
        "z": "example-flow",
        "name": "Turn On Button",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 180,
        "wires": [["token-check"]]
    },
    {
        "id": "token-check",
        "type": "rituals-token-check",
        "z": "example-flow",
        "name": "Validate Token",
        "x": 310,
        "y": 200,
        "wires": [["power-on"], ["reauth"]]
    },
    {
        "id": "power-on",
        "type": "rituals-power",
        "z": "example-flow",
        "name": "Turn On",
        "config": "rituals-config-1",
        "action": "on",
        "x": 500,
        "y": 180,
        "wires": [["result-debug"]]
    },
    {
        "id": "reauth",
        "type": "rituals-auth",
        "z": "example-flow",
        "name": "Re-auth",
        "config": "rituals-config-1",
        "x": 500,
        "y": 220,
        "wires": [["token-check"]]
    },
    {
        "id": "power-off-inject",
        "type": "inject",
        "z": "example-flow",
        "name": "Turn Off Button",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 280,
        "wires": [["get-device-off"]]
    },
    {
        "id": "get-device-off",
        "type": "function",
        "z": "example-flow",
        "name": "Get Device Hash",
        "func": "const devices = flow.get('ritualsDevices');\nmsg.deviceHash = devices[0].hash;\nreturn msg;",
        "outputs": 1,
        "x": 330,
        "y": 280,
        "wires": [["power-off"]]
    },
    {
        "id": "power-off",
        "type": "rituals-power",
        "z": "example-flow",
        "name": "Turn Off",
        "config": "rituals-config-1",
        "action": "off",
        "x": 520,
        "y": 280,
        "wires": [["result-debug"]]
    },
    {
        "id": "perfume-inject",
        "type": "inject",
        "z": "example-flow",
        "name": "Set Perfume",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 360,
        "wires": [["get-device-perfume"]]
    },
    {
        "id": "get-device-perfume",
        "type": "function",
        "z": "example-flow",
        "name": "Get Device Hash",
        "func": "const devices = flow.get('ritualsDevices');\nmsg.deviceHash = devices[0].hash;\nreturn msg;",
        "outputs": 1,
        "x": 310,
        "y": 360,
        "wires": [["perfume-node"]]
    },
    {
        "id": "perfume-node",
        "type": "rituals-perfume",
        "z": "example-flow",
        "name": "Set to High",
        "config": "rituals-config-1",
        "amount": 3,
        "x": 510,
        "y": 360,
        "wires": [["result-debug"]]
    },
    {
        "id": "status-inject",
        "type": "inject",
        "z": "example-flow",
        "name": "Get Status",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 440,
        "wires": [["get-device-status"]]
    },
    {
        "id": "get-device-status",
        "type": "function",
        "z": "example-flow",
        "name": "Get Device Hash",
        "func": "const devices = flow.get('ritualsDevices');\nmsg.deviceHash = devices[0].hash;\nreturn msg;",
        "outputs": 1,
        "x": 310,
        "y": 440,
        "wires": [["status-node"]]
    },
    {
        "id": "status-node",
        "type": "rituals-status",
        "z": "example-flow",
        "name": "Get Status",
        "config": "rituals-config-1",
        "x": 510,
        "y": 440,
        "wires": [["result-debug"]]
    },
    {
        "id": "result-debug",
        "type": "debug",
        "z": "example-flow",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 700,
        "y": 300,
        "wires": []
    },
    {
        "id": "rituals-config-1",
        "type": "rituals-config",
        "email": "your-email@example.com"
    }
]
